<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.AnalysisDataMapper">
    <select id="getGoodsNameData" resultType="cn.edu.guet.bean.Goods">
        SELECT DISTINCT goods_name
        FROM purchase_contract
    </select>

    <select id="getPurchasePriceTrend" resultType="cn.edu.guet.bean.PurchasePriceTrend">
        SELECT in_out_time inboundTime, AVG(in_out_goods_unit_price) avg_price
        FROM other_in_out
        WHERE in_out_goods_name=#{goodsName} and in_out_time between  #{startDate}  and #{endDate}
        GROUP BY in_out_time
        ORDER BY in_out_time
    </select>

    <select id="getSalePriceTrend" resultType="cn.edu.guet.bean.SalePriceTrend">
        SELECT sale_contract_time, AVG(goods_unit_price) avg_price
        FROM sale_contract
        WHERE goods_name=#{goodsName} and sale_contract_time between  #{startDate}  and #{endDate}
        GROUP BY sale_contract_time
        ORDER BY sale_contract_time
    </select>
</mapper>