<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.FfsIncomeSpendInfoMapper">

    <resultMap id="BaseResultMap" type="cn.edu.guet.bean.FfsIncomeSpendView">
            <result property="iDate" column="i_date" jdbcType="DATE"/>
            <result property="income" column="income" jdbcType="DECIMAL"/>
            <result property="spend" column="spend" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        date,income,spend
    </sql>

    <select id="getFfsIncomeSpendData" resultType="cn.edu.guet.bean.FfsIncomeSpendView">
        SELECT i_date, income, spend
        FROM ffs_income_spend_info
        WHERE i_date between  #{startDate}  and #{endDate}
        ORDER BY i_date
    </select>
</mapper>
