<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.OfficeExpenseMapper">
    <!--    导出-->
    <!--    导出-->
    <!--    导出-->
    <select id="getOfficeExpenseExportDayData" resultType="cn.edu.guet.bean.exportModel.ExportOfficeExpenseModel">
        SELECT
            id,items_list,expenses,payment_count,payment_time,finance_staff,cashier
        FROM office_expense
        WHERE payment_time between #{startDate} and #{endDate}
        ORDER BY payment_time
    </select>

    <select id="getOfficeExpenseExportMonthData" resultType="cn.edu.guet.bean.exportModel.ExportOfficeExpenseModel">
        SELECT
            id,items_list,expenses,payment_count,payment_time,finance_staff,cashier
        FROM office_expense
        HAVING date_format(payment_time, '%Y-%m') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y-%m')
    </select>

    <select id="getOfficeExpenseExportSeasonData" resultType="cn.edu.guet.bean.exportModel.ExportOfficeExpenseModel">
        SELECT
            id,items_list,expenses,payment_count,payment_time,finance_staff,cashier
        FROM office_expense
        HAVING CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time))) between #{startDate} and #{endDate}
        ORDER BY CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time)))
    </select>

    <select id="getOfficeExpenseExportYearData" resultType="cn.edu.guet.bean.exportModel.ExportOfficeExpenseModel">
        SELECT
            id,items_list,expenses,payment_count,payment_time,finance_staff,cashier
        FROM office_expense
        HAVING date_format(payment_time, '%Y') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y')
    </select>
</mapper>
