<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.ShippingContractMapper">
    <select id="checkContainerNo" resultType="cn.edu.guet.bean.ShippingContract">
        SELECT * FROM shipping_contract WHERE container_no=#{containerNo} AND DATE_SUB(packing_time, INTERVAL 30 DAY)
    </select>

    <!--    导出-->
    <!--    导出-->
    <!--    导出-->
    <select id="getShippingExportDayData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            shipping_contract_no,logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract
        WHERE payment_time between #{startDate} and #{endDate}
        ORDER BY payment_time
    </select>

    <select id="getShippingExportMonthData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            shipping_contract_no,logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract
        HAVING date_format(payment_time, '%Y-%m') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y-%m')
    </select>

    <select id="getShippingExportSeasonData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            shipping_contract_no,logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract
        HAVING CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time))) between #{startDate} and #{endDate}
        ORDER BY CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time)))
    </select>

    <select id="getShippingExportYearData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            shipping_contract_no,logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract
        HAVING date_format(payment_time, '%Y') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y')
    </select>

    <select id="getShippingExportCompanyDayData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            sc.shipping_contract_no,sc.logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract sc,(
            SELECT shc.id,sac.own_company_name
            FROM shipping_contract shc,logistics_contract lc,sale_contract sac
            WHERE shc.logistics_contract_no=lc.logistics_contract_no
              AND lc.sale_contract_no=sac.sale_contract_no
        ) t
        WHERE sc.id=t.id AND t.own_company_name=#{company} AND payment_time between #{startDate} and #{endDate}
        ORDER BY payment_time
    </select>

    <select id="getShippingExportCompanyMonthData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            sc.shipping_contract_no,sc.logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract sc,(
            SELECT shc.id,sac.own_company_name
            FROM shipping_contract shc,logistics_contract lc,sale_contract sac
            WHERE shc.logistics_contract_no=lc.logistics_contract_no
              AND lc.sale_contract_no=sac.sale_contract_no
        ) t
        WHERE sc.id=t.id AND t.own_company_name=#{company}
        HAVING date_format(payment_time, '%Y-%m') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y-%m')
    </select>

    <select id="getShippingExportCompanySeasonData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            sc.shipping_contract_no,sc.logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract sc,(
            SELECT shc.id,sac.own_company_name
            FROM shipping_contract shc,logistics_contract lc,sale_contract sac
            WHERE shc.logistics_contract_no=lc.logistics_contract_no
              AND lc.sale_contract_no=sac.sale_contract_no
        ) t
        WHERE sc.id=t.id AND t.own_company_name=#{company}
        HAVING CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time))) between #{startDate} and #{endDate}
        ORDER BY CONCAT(YEAR(payment_time),CONCAT('-',QUARTER(payment_time)))
    </select>

    <select id="getShippingExportCompanyYearData" resultType="cn.edu.guet.bean.exportModel.ExportShippingModel">
        SELECT
            sc.shipping_contract_no,sc.logistics_contract_no,expenses,payment_count,payment_time,
            finance_staff,cashier,principal,packing_time,packing_location,unpacking_factory,
            container_no,seal_no,tally_clerk,tally_clerk_price,departure_fleet,departure_price,
            carrier_company_name,carrier_company_price,destination_port_fleet,destination_port_price
        FROM shipping_contract sc,(
            SELECT shc.id,sac.own_company_name
            FROM shipping_contract shc,logistics_contract lc,sale_contract sac
            WHERE shc.logistics_contract_no=lc.logistics_contract_no
              AND lc.sale_contract_no=sac.sale_contract_no
        ) t
        WHERE sc.id=t.id AND t.own_company_name=#{company}
        HAVING date_format(payment_time, '%Y') between #{startDate} and #{endDate}
        ORDER BY date_format(payment_time, '%Y')
    </select>
</mapper>
