<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.ShippingContractMapper">

    <resultMap id="BaseResultMap" type="cn.edu.guet.bean.ShippingContract">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="shippingContractNo" column="shipping_contract_no" jdbcType="VARCHAR"/>
            <result property="logtisticsContractNo" column="logtistics_contract_no" jdbcType="VARCHAR"/>
            <result property="principal" column="principal" jdbcType="VARCHAR"/>
            <result property="packingTime" column="packing_time" jdbcType="TIMESTAMP"/>
            <result property="packingLocation" column="packing_location" jdbcType="VARCHAR"/>
            <result property="unpackingFactory" column="unpacking_factory" jdbcType="VARCHAR"/>
            <result property="containerNo" column="container_no" jdbcType="VARCHAR"/>
            <result property="sealNo" column="seal_no" jdbcType="VARCHAR"/>
            <result property="tallyClerk" column="tally_clerk" jdbcType="VARCHAR"/>
            <result property="tallyClerkPrice" column="tally_clerk_price" jdbcType="DECIMAL"/>
            <result property="departureFleet" column="departure_fleet" jdbcType="VARCHAR"/>
            <result property="departurePrice" column="departure_price" jdbcType="DECIMAL"/>
            <result property="carrierCompanyName" column="carrier_company_name" jdbcType="VARCHAR"/>
            <result property="carrierCompanyPrice" column="carrier_company_price" jdbcType="DECIMAL"/>
            <result property="destinationPortFleet" column="destination_port_fleet" jdbcType="VARCHAR"/>
            <result property="expenses" column="expenses" jdbcType="DECIMAL"/>
            <result property="destinationPortPrice" column="destination_port_price" jdbcType="DECIMAL"/>
            <result property="contractPhoto" column="contract_photo" jdbcType="VARCHAR"/>
            <result property="financeStaff" column="finance_staff" jdbcType="VARCHAR"/>
            <result property="financeState" column="finance_state" jdbcType="INTEGER"/>
            <result property="paymentCount" column="payment_count" jdbcType="DECIMAL"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="paymentPhoto" column="payment_photo" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateBy" column="last_update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shipping_contract_no,logtistics_contract_no,
        principal,packing_time,packing_location,
        unpacking_factory,container_no,seal_no,
        tally_clerk,tally_clerk_price,departure_fleet,
        departure_price,carrier_company_name,carrier_company_price,
        destination_port_fleet,expenses,destination_port_price,
        contract_photo,finance_staff,finance_state,
        payment_count,payment_time,payment_photo,
        create_time,create_by,last_update_time,
        last_update_by
    </sql>

    <select id="checkContainerNo" resultType="cn.edu.guet.bean.ShippingContract">
        SELECT * FROM shipping_contract WHERE container_no=#{containerNo} AND DATE_SUB(packing_time, INTERVAL 30 DAY)
    </select>
</mapper>
