<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.TotalIncomeSpendInfoMapper">

    <select id="getTotalDayIncomeSpendData" resultType="cn.edu.guet.bean.TotalIncomeSpendView">
        SELECT i_date legend, income, spend
        FROM total_income_spend_info
        WHERE i_date between #{startDate}  and #{endDate}
        ORDER BY i_date
    </select>

    <select id="getTotalMonthIncomeSpendData" resultType="cn.edu.guet.bean.TotalIncomeSpendView">
        SELECT date_format(i_date, '%Y-%m') legend, SUM(income) income,SUM(spend) spend
        FROM total_income_spend_info
        GROUP BY legend
        HAVING legend BETWEEN #{startDate}  and #{endDate}
        ORDER BY legend
    </select>

    <select id="getTotalSeasonIncomeSpendData" resultType="cn.edu.guet.bean.TotalIncomeSpendView">
        SELECT CONCAT(YEAR(i_date),CONCAT('-',QUARTER(i_date))) legend,
               SUM(income) income, SUM(spend) spend
        FROM total_income_spend_info
        GROUP BY legend
        HAVING legend BETWEEN #{startDate}  and #{endDate}
        ORDER BY legend
    </select>

    <select id="getTotalYearIncomeSpendData" resultType="cn.edu.guet.bean.TotalIncomeSpendView">
        SELECT date_format(i_date, '%Y') legend, SUM(income) income,SUM(spend) spend
        FROM total_income_spend_info
        GROUP BY legend
        HAVING legend BETWEEN #{startDate}  and #{endDate}
        ORDER BY legend
    </select>
</mapper>
