<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LogisticsDetailMapper">

    <resultMap id="BaseResultMap" type="generator.domain.LogisticsDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="saleContractNo" column="sale_contract_no" jdbcType="VARCHAR"/>
            <result property="purchaseContractNo" column="purchase_contract_no" jdbcType="VARCHAR"/>
            <result property="goodsFactory" column="goods_factory" jdbcType="VARCHAR"/>
            <result property="outboundTime" column="outbound_time" jdbcType="TIMESTAMP"/>
            <result property="licensePlateNumber" column="license_plate_number" jdbcType="VARCHAR"/>
            <result property="goodsWeight" column="goods_weight" jdbcType="DECIMAL"/>
            <result property="unloadingLocation" column="unloading_location" jdbcType="VARCHAR"/>
            <result property="unitPrice" column="unit_price" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateBy" column="last_update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sale_contract_no,purchase_contract_no,
        goods_factory,outbound_time,license_plate_number,
        goods_weight,unloading_location,unit_price,
        create_time,create_by,last_update_time,
        last_update_by
    </sql>
</mapper>
